.nameContainer {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.name {
  font-size: 2em;
}

@media screen and (min-width: 500px) {
  .name {
    font-size: 3rem;
  }
}

.pronoun {
  font-size: 1em;
}

.ib {
  display: inline-block;
}

.basic {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  line-height: 1.4em;
}

.navList {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.navList li {
  list-style: none;
}

.actions {
  position: absolute;
  right: 4em;
  bottom: 4em;

  display: flex;
  gap: 1.5em;
}
